@charset "UTF-8";

body{

    background-image: url("img/telafundo.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;


}


.login{

    background-repeat:no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(to right,#8d02ff, #000000ef);
    box-shadow: 1px 1px 15px #4e048b8e;
    border-radius:60px 60px 0px 60px;
    width:200px;
    height:200px;
    margin: auto ;
    opacity:;
    top: auto;
    position: relative;
    