@charset "UTF-8";

body{

    background-image: url("img/telafundo.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;


}


.login{
   
    background-image:linear-gradient(to right,#8d02ff, #000000ef);
    box-shadow: ;
    border-radius:60px 60px 0px 60px;
    width:400px;
    height:400px;
    margin:auto;
    opacity:%;
    position: relative;
    border-style:outset;
}


h1{
    /*
    Sorthand: Exemplo: font: italic bolder 2em sans-serif;.
     Ao inves de usar uma 'font' para cada estilo. Usamos o Font e em uma unica linha se faz a efdição. 
     
     SEGUÊNCIA: FONT-STYLE -> FONTE WEIGHT (PESO DA FONTE) -> FONT-SIZE -> FONTE FAMILY
     */

     /*Text-align -> Serve para alinhamento do texto na pagina. Para deixar responsivo usamos Text-align (JUSTIFY).*/

     /*Text-indent:;-> Serve para colocar o paragrafo no inicio do texto*/

    font: italic bolder 2em sans-serif;
    margin: auto;
    font-weight: ;
    text-align: center;
    color: aliceblue;
}

